@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Oswald&family=Petit+Formal+Script&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #09343b;
    background-color: #fff7f0;

}

header {
    background-color: #ffdcbb;
    height: 75px;
}


/* headings and logo */

h1  {
    font-family: Codystar, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 210%;
    margin-left: 30px;
    color: #134e57;
}

#menu {
    font-family: Roboto, sans-serif;
    font-size: 100%;
    letter-spacing: 4px;
    color: #134e57;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image */ 


#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

}

/* about us */ 

#about-us h2 {
    font-family: Oswald, sans-serif;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 250%;
    color: #d67447;
    font-weight: 200;
}

p {
    font-family: Roboto, sans-serif;
    margin-left: 350px;
    font-size: 110%;
    color: #251303;
}

img {
    width: 20%;
    height: 20%;
    margin-right: 190px;
    padding-bottom: 100px;
}

/* footer */ 

footer { 
    height: 150px;
}

.social-networks { 
    text-align: center;
}

.social-networks > li { 
    display: inline;
}

.social-networks i { 
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #134e57;
}